<!-- Login form-->
<section class="banner-section" style="height: 90.8vh;">
  <div class="main-banner-image">
    <img src="../../../assets/1662728424Banner 1TCS.jpg" class="img-fluid" alt="Office image">
    <!-- <div class="overlay"></div> -->
  </div>
  <div class="row justify-content-end align-items-center h-100" style="position: absolute;top:0px;left:0px;width:100%;">
    <div class="col-sm-3">
      <div class="card bg-white">
        <div class="panel panel-primary p-3">
          <div class="panel-heading mb-3 text-dark">Login</div>
          <div class="panel-body padding">
            <form class="form-horizontal" [formGroup]="loginForm">
              <div class="form-group mb-2">
                <div class="col-xs-5 user-box">
                  <input type="text"
                    [ngClass]="{'valid':loginForm.controls['userName'].valid, 'invalid':loginForm.controls['userName'].invalid && !loginForm.controls['userName'].pristine}"
                    formControlName="userName" required="">
                  <label for="name">User Name</label>
                  <div *ngIf="loginForm.controls['password'].errors && loginForm.controls['userName'].dirty"
                    style="position: absolute;bottom:0px;left:0px;">
                    <div *ngIf="loginForm.controls['userName'].errors?.['required']" style="color:red">UserName is
                      required
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-5 user-box">
                  <input type="password"
                    [ngClass]="{'valid':loginForm.controls['password'].valid, 'invalid':loginForm.controls['password'].invalid && !loginForm.controls['password'].pristine}"
                    formControlName="password" required="">
                  <label for="password">Password</label>
                  <div *ngIf="loginForm.controls['password'].errors && loginForm.controls['password'].dirty"
                    style="position: absolute;bottom:0px;left:0px;">
                    <div *ngIf="loginForm.controls['password'].errors?.['required']" style="color:red">Password is
                      required
                    </div>
                  </div>
                </div>
              </div>

              <div *ngIf="!valid" class="error">Invalid Credentials...Please try again...</div>
              <br />

              <div class="form-group">
                <span class="col-xs-4"></span>
                <div class="col-xs-3">
                  <button (click)="onSubmit()" class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>